body {
	font-family: 'Merriweather', serif;
}

.header {
	height: 80px;
	border-bottom: 1px solid#eee;
	background: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

h1 {
	font-size: 30px;
	margin: 0px;
	text-align: left;
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Merriweather', serif;
}

p {
	font-family: 'Merriweather', serif;
	margin-left: 10px;
	font-weight: bold;
}

select {
	font-family: 'Merriweather', serif;
	border-radius: 5px;
	font-size: 20px;
	margin: 0px;
	width:90%;
	height:2em;
	border-style: solid;
	border-color: #4564d3;
	text-align: left;
	text-overflow: ellipsis;
	margin-bottom: 2%;
}

#log_out {
	font-family: 'Merriweather', serif;
	background-color: #e5f4e3;
	position: absolute;
	right: 0;
	margin-right: 18px;
	margin-top: 10px;

}

#page_body {
	display: inline-block;
	text-align: center;
    width: 100%;
}

#search_body {
	vertical-align: top;
	display: inline-block;
	text-align: center;
    width: 20%;
	color: #003f91;
	font-family: 'Merriweather', serif;
	
}

#results_body {
	vertical-align: top;
	text-align: center;
	display: inline-block;
    width: 79%;
	background-color: #e5f4e3;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear:both;
}

.logo{
    font-size:36px;
    color:#18bc9c;
    margin-left: 15px;
    margin-top: 20px;
}

.menu{
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
    margin-top: 40px;
}

.menu li{
    display: inline-block;
    font-size: 20px;
}

.menu li:not(:last-child){
    margin-right: 10px;
}

.menubox{
    height: 80px;
}

a{
    text-decoration: none;
}

a:link{
    color:#18bc9c;
}

a:hover{
    color: #088c71;
}

li.active a{
    border-bottom: 2px solid #18bc9c;
    padding-bottom: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}

th{
    background-color: #588c7e;
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

button {
	background-color: #4564d3; /* Green */
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
